.projects-component {

    --text-color: #d8d4d4;
    --header-text-color-on-strong-bg: white;
    // --egg-color: #00adff;
    --egg-color: #1c1c25;
    // --egg-color:tomato;
    // --egg-color: #7982FF;
    // --egg-color:#4528b9;
    --egg-shadow: #000000;
    --underline-color: orange;

    &[theme-mode="light"] {
        --text-color: #2f2f2f;
        // --egg-color: tomato;
        --egg-color: white;
        // --egg-shadow: rgb(138, 41, 24);
        --egg-shadow: rgb(82 81 80);
        --header-text-color-on-strong-bg: black;
        --underline-color: tomato;
    }



    .bg_img {
        background-size: contain;
        background-position: top center;
        background-repeat: no-repeat;



        @media only screen and (max-width: 800px) {
            background-image: none !important;
            height: auto !important;

            .project_blk {
                height: auto !important;
                margin-top: 50px;

                // .row {
                //     filter: hue-rotate(45deg);
                // }

                &[theme-mode="light"] {
                    .row {
                        filter: unset;
                    }
                }

            }
        }


        .container-fluid {
            .project_blk {
                display: flex;

                .row {
                    margin: auto;
                    width: 100%;

                    &>div {
                        margin-top: auto;
                        margin-bottom: auto;
                        display: flex;
                        color: var(--text-color);

                        h1 {
                            color: var(--header-text-color-on-strong-bg);
                            width: max-content;
                            position: relative;
                            margin-bottom: 20px;

                            &::after {
                                content: "";
                                background-color: var(--underline-color);
                                height: 4px;
                                width: 90%;
                                position: absolute;
                                left: 0;
                                right: 0;
                                bottom: -6px;
                            }
                        }

                        @media only screen and (max-width: 767px) {
                            margin-top: 10px;
                        }
                    }

                    &.left_aligned_img {
                        .img_wrapper {
                            margin-right: auto;

                            @media only screen and (max-width: 767px) {
                                margin: auto !important;
                            }
                        }

                    }

                    &.right_aligned_img {
                        flex-direction: row-reverse;

                        .img_wrapper {
                            margin-left: auto;
                        }

                        @media only screen and (max-width: 767px) {
                            .img_wrapper {
                                margin: auto !important;
                            }

                            flex-direction: row;
                        }
                    }

                    .project_desc {
                        background-color: var(--egg-color);
                        border-radius: 20px;
                        margin: 0;
                        flex-direction: column;

                        filter: drop-shadow(2px 4px 6px var(--egg-shadow));

                        @media only screen and (max-width: 750px) {
                            // background-color: transparent;
                            // filter: none;
                            margin: 20px;

                            h1 {
                                text-align: center;
                            }

                            // &[theme-mode="light"] {
                            //     .project_desc_content {
                            //         color: var(--egg-color);
                            //     }
                            // }
                        }
                    }

                    .project_desc_content {
                        margin: 10px;
                        // margin-top: 10%;
                        color: var(--header-text-color-on-strong-bg);
                        font-size: 18px;

                        @media only screen and (max-width: 1200px) {
                            font-size: 12px;
                        }

                        @media only screen and (max-width: 900px) {
                            font-size: 12px;
                            line-height: 18px;

                            h1 {
                                font-size: 28px;
                            }
                        }

                        @media only screen and (max-width: 750px) {
                            font-weight: bold;
                        }
                    }

                    .project_img {
                        color: var(--text-color);
                        filter: drop-shadow(2px 4px 6px black);
                        flex-direction: column;
                        position: relative;

                        .desktop_cover {
                            width: 500px;
                            height: 500px;
                        }

                        .project_thumbnail {
                            position: absolute;
                            transform: translate(-100%, -8%) scale(-91%, -52%) rotate(180deg);
                            -webkit-transform: translate(-100%, -8%) scale(-91%, -52%) rotate(180deg);
                            -moz-transform: translate(-100%, -8%) scale(-91%, -52%) rotate(180deg);
                            -ms-transform: translate(-100%, -8%) scale(-91%, -52%) rotate(180deg);
                            -o-transform: translate(-100%, -8%) scale(-91%, -52%) rotate(180deg);
                            width: 500px;
                            height: 500px;
                        }

                        @media only screen and (max-width: 1600px) {
                            .desktop_cover {
                                width: 400px;
                                height: 400px;
                            }

                            .project_thumbnail {
                                width: 400px;
                                height: 400px;
                            }

                        }

                        @media only screen and (max-width: 1200px) {
                            .desktop_cover {
                                width: 300px;
                                height: 300px;
                            }

                            .project_thumbnail {
                                width: 300px;
                                height: 300px;
                            }

                        }

                        @media only screen and (max-width: 900px) {
                            .desktop_cover {
                                width: 200px;
                                height: 200px;
                            }

                            .project_thumbnail {
                                width: 200px;
                                height: 200px;
                            }

                        }

                        @media only screen and (max-width: 800px) {
                            .desktop_cover {
                                width: 300px;
                                height: 300px;
                            }

                            .project_thumbnail {
                                width: 300px;
                                height: 300px;
                            }

                        }


                        @media only screen and (max-width: 750px) {
                            .desktop_cover {
                                width: 400px;
                                height: 400px;
                            }

                            .project_thumbnail {
                                width: 400px;
                                height: 400px;
                            }

                        }

                        @media only screen and (max-width: 450px) {
                            .desktop_cover {
                                width: 200px;
                                height: 200px;
                            }

                            .project_thumbnail {
                                width: 200px;
                                height: 200px;
                            }

                        }

                    }

                    .project_date_time_wrap {

                        justify-content: center;

                        .project_date_time {
                            display: flex;
                            height: 250px;
                            width: 200px;
                            background-color: var(--egg-color);
                            color: var(--header-text-color-on-strong-bg) !important;
                            border-radius: 100%;
                            filter: drop-shadow(2px 4px 6px var(--egg-shadow));

                            &>div {
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                font-size: 20px;
                            }

                            @media only screen and (max-width: 1400px) {
                                height: 150px;
                                width: 150px;

                                &>div {
                                    font-size: 12px;
                                }
                            }

                            @media only screen and (max-width: 800px) {
                                width: max-content;
                                height: max-content;
                                border-radius: 10px;
                                margin: auto;
                                padding: 10px;

                                &>div {
                                    width: 100%;
                                    display: block;

                                    p {
                                        display: inline-block;
                                        margin-top: 0px;
                                        margin-bottom: 0px;
                                        text-align: center;
                                    }
                                }
                            }

                            @media only screen and (max-width: 600px) {
                                width: max-content;
                                padding: 10px;
                                border-radius: 5px;

                                &>div {
                                    width: 100%;
                                    display: block;

                                    p {
                                        display: inline-block;
                                        margin-top: 0px;
                                        margin-bottom: 0px;
                                        text-align: center;
                                    }
                                }
                            }
                        }

                    }

                }
            }
        }

    }





}