.profile-component {

    --text-color: #d8d4d4;
    --profile-pic-bgcolor: #fff9f9;
    --cursor-blink-color: white;
    --cursor-blink-bgcolor: transparent;
    --profile-pic-border-color: #555557;
    --profile-pic-box-shadow: black;

    &[theme-mode="light"] {
        --text-color: #2f2f2f;
        --profile-pic-bgcolor: #2f2f2f;
        --cursor-blink-bgcolor: tomato;
        --profile-pic-border-color: #403f3f;
        --profile-pic-box-shadow: rgba(0, 0, 0, 0.75);
    }



    &>div {
        margin-top: 100px;
    }

    @media only screen and (max-width: 900px) {
        &>div {
            margin-top: 0;
        }

        .row>div {
            margin-top: 100px;
        }
    }

    .profile_short_expl,
    .profession_long_expl,
    .more_points_about_profession {
        color: var(--text-color);

        // #2f2f2f
    }

    .profile_pic_sect {
        margin: auto;

        .profile_pic {
            margin: auto;
            width: 300px;
            height: 300px;
            background-color: var(--profile-pic-bgcolor);
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            // filter:grayscale(30%);
            border-radius: 100%;
            margin-bottom: 40px;
            border: solid #555557 15px;
            box-shadow: 0px 0px 5px 2px #8e8b8b;
            // transform: translateY(6px);
            transition: 1s;

            &[theme-mode="light"] {
                border: solid #403f3f 15px;
                box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.979);
                filter: sepia(60%);
                // width: 302px;
                // height: 302px;
            }

            @media only screen and (max-width: 400px) {
                width: 200px;
                height: 200px;
            }


        }

        .profile_short_expl {
            margin: auto;
            text-align: center;
            width: max-content;

            @media only screen and (max-width: 400px) {
                word-break: break-word;
                width: 100%;
            }


            &.my_name {
                font-size: 40px;

                @media only screen and (max-width: 400px) {
                    font-size: 30px;
                }
            }

            // position: relative;
            // &:after{
            //     margin: auto;
            //     content: "";
            //     background-color: orange;
            //     height: 2px;
            //     width: 100%;
            //     position: absolute;
            //     left: 0;
            //     right: 0;
            //     bottom: 4px;
            // }
        }
    }


    .profile_detail_sect {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;

        @media only screen and (max-width: 1000px) {
            margin: auto;
            width: 80%;
        }

        .profession_short_expl {
            // text-align: left;
            width: max-content;

            &.my_domain {
                width: 100%;
                letter-spacing: 10px;
                font-size: 60px;
                line-height: 60px;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

                @media only screen and (max-width: 400px) {
                    font-size: 30px;
                }

                .code {
                    margin-left: 20px;
                    font-size: 80%;

                    @media only screen and (max-width: 400px) {
                        display: block;
                        font-size: 30px;
                    }


                    .cursor {
                        display: inline-block;
                        background: white;
                        margin-right: 6px;
                        -webkit-animation: 1s blink step-end infinite;
                        -moz-animation: 1s blink step-end infinite;
                        -ms-animation: 1s blink step-end infinite;
                        -o-animation: 1s blink step-end infinite;
                        animation: 1s blink step-end infinite;
                        height: 35px;
                        line-height: 35px;
                    }

                    @mixin some_blink_anim {
                        0% {
                            background: var(--cursor-blink-bgcolor);
                            color: white;
                        }

                        50% {
                            background: white;
                            color: black;
                        }

                        100% {
                            background: var(--cursor-blink-bgcolor);
                            color: white;
                        }
                    }

                    @-moz-keyframes blink {
                        @include some_blink_anim;
                    }

                    @-ms-keyframes blink {
                        @include some_blink_anim;
                    }

                    @-o-keyframes blink {
                        @include some_blink_anim;
                    }

                    @-webkit-keyframes blink {
                        @include some_blink_anim;
                    }

                    @keyframes blink {
                        @include some_blink_anim;
                    }

                }




                @media only screen and (max-width: 600px) {
                    font-size: 40px;
                    letter-spacing: 4px;
                    text-align: center !important;
                    line-height: unset;
                }
            }

        }

        .profession_long_expl {
            font-weight: 200;

            b {
                font-weight: 800;
            }

            margin-top: 80px;
            width: 80%;
            letter-spacing: 1px;
            font-size: 20px;
            // font-family: 'Franklin Gothic Medium',
            // 'Arial Narrow',
            // Arial,
            // sans-serif;
            // font-family: 'Gill Sans',
            // 'Gill Sans MT',
            // Calibri,
            // 'Trebuchet MS',
            // sans-serif;
            font-family: 'Times New Roman',
            Times,
            serif;

            @media only screen and (max-width: 900px) {
                width: 100%;
                margin-top: 20px;
                text-align: justify;
            }
        }
    }

    .more_points_about_profession {
        margin: auto;
        width: 80%;
        margin-top: 100px;
        font-size: 50px;

        ul {
            padding-left: 22px;

            li {
                line-height: 40px;

                span {
                    font-size: 20px;
                    vertical-align: bottom;
                }
            }
        }

        letter-spacing: 2px;
        // width: max-content;
        font-family: 'Gill Sans',
        'Gill Sans MT',
        Calibri,
        'Trebuchet MS',
        sans-serif;

        @media only screen and (max-width: 900px) {
            margin-top: 0px;
            letter-spacing: unset;
            text-align: justify;
            font-size: 30px;

            span {
                font-size: 20px;
            }
        }


        @media only screen and (max-width: 600px) {
            text-align: left;
            font-family: 'Times New Roman',
                Times,
                serif;

        }
    }

}