.navBar-component {


    .menu-ul {
        li {
            display: inline;
            text-align: center;
        }

        a {
            display: inline-block;
            width: var(--link-width);
            padding: .75rem 0;
            margin: 0;
            text-decoration: none;
            color: #333;
        }
        li[highlight]{
            font-weight: bold;           
            // &~hr{
            //     margin-left: var(--marginLeft);
            // }
        }

        
    }


    hr {
        height: .25rem;
        width: 25%;
        margin: 0;
        background: rgb(5, 7, 134);
        border: none;
        transition: .2s ease-in-out;
        &[theme-mode="light"]{
            background: tomato;
        }
    }

}